.main {
    width: 980px;
    height: 455px;
    margin-left: 220px;
    margin-top: 10px;
}
.focus {
    float: left;
    width: 721px;
    height: 455px;
    background-color: plum;
}
.newsflash {
    float: right;
    width: 250px;
    height: 455px;
}
.news {
    height: 165px;
    border: 1px solid #e4e4e4;
}
.news_hd {
    height: 33px;
    line-height: 33px;
    border-bottom: 1px dotted #e4e4e4;
    padding: 0 15px;
    margin-bottom: 5px;
}
.news_hd h5 {
    float: left;
    font-size: 14px;
    font-weight: 700;
}
.news_hd .more {
    float: right;
}
.news_hd .more::after {
    content: "\e920";
    font-family: 'icomoon';
}
.news_bd {
    padding: 0 15px;
}
.news_bd a {
    display: block;
    height: 24px;
    line-height: 24px;
}
.lifeservice {
    overflow: hidden;
    height: 209px;
    border: 1px solid #e4e4e4;
    border-top: 0;
}
.lifeservice ul {
    width: 252px;
}
.lifeservice ul li {
    float: left;
    width: 63px;
    height: 71px;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    text-align: center;
}
.lifeservice ul li i {
    display: inline-block;
    width: 24px;
    height: 28px;
    background: url(../images/icons.png) no-repeat -19px -15px;
    margin-top: 12px;
}
.bargain {
    margin-top: 5px;
}
.recom {
    height: 163px;
    background-color: #ebebeb;
    margin-top: 12px;
}

.recom_hd {
    float: left;
    height: 100%;
    width: 205px;
    background-color: #5c5251;
    text-align: center;
    padding-top: 30px;
}
.recom_bd {
    float: left;
}
.recom_bd ul li {
    position: relative;
    float: left;
    background-color: brown;
}
.recom_bd ul li img {
    width: 248px;
    height: 163px;
}
.recom_bd ul li:nth-child(-n+3)::after {
    content: "";
    position: absolute;
    top: 10px;
    right: 0;
    width: 1px;
    height: 145px;
    background-color: #ddd;
}
.box_hd {
    height: 30px;
    border-bottom: 2px solid #c81623;
}

.box_hd h4 {
    float: left;
    font-size: 18px;
    font-weight: 400;
    color: #c81623
}
.tab_list {
    float: right;
    line-height: 30px;
}
.tab_list ul li {
    float: left;
}
.tab_list ul li a {
    margin: 0 15px;
}
.floor .w {
    margin-top: 30px;
}
.box_bd {
    height: 361px;
    }
.tab_list_item>div {
    float: left;
}
.col_210 {
    width: 210px;
    height: 361px;
    background-color: #f9f9f9;
    text-align: center;
}
.col_210 ul {
    padding-left: 12px;
}
.col_210 ul li {
    float: left;
    width: 85px;
    height: 34px;
    text-align: center;
    line-height: 33px;
    border-bottom: 1px solid #ccc;
    margin-right: 10px;
}
.col_329 {
    width: 329px;
}
.col_221 {
    width: 221px;
    border-right: 1px solid #ccc;
}
.col_219 {
    width: 219px;
}
.bb {
    /* a包含有宽度的盒子，a需要转为块级元素 */
    display: inline-block;
    border-bottom: 1px solid #ccc;
}