.w {
    width: 1200px;
    margin: 0 auto;
}
.error {
    color: #c81623;
}
.error_icon,
.success_icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../images/error.png) no-repeat;
    /* 图片文字对齐 中线对齐*/
    vertical-align: middle;
    margin-top: -2px;
}
.success {
    color: green;
}
.success_icon {
    background: url(../images/success.png) no-repeat;
}
.style_red {
    color: #c81623;
}
header {
    height: 84px;
    border-bottom: 2px solid #c81623;
}
.logo {
    padding-top: 18px;
}
.registerarea {
    height: 522px;
    border: 1px solid #ccc;
    margin-top: 20px;
}
.registerarea h3 {
    height: 42px;
    border-bottom: 1px solid #ccc;
    background-color: #ececec;
    font-size: 18px;
    font-weight: 400;
    line-height: 42px;
    padding: 0 10px;
}
.registerarea h3 .login{
    float: right;
    font-size: 14px
}
.reg_form {
    width: 600px;
    margin: 50px auto 0;
}
.reg_form ul li label {
    display: inline-block;
    width: 88px;
    text-align: right;

}
.reg_form ul li .inp {
    width: 242px;
    height: 37px;
    border: 1px solid #ccc;
}
.reg_form ul li span {
    margin-left: 10px;
}
.reg_form ul li {
    margin-bottom: 20px;
}
.safe {
    padding-left: 170px;
}
.safe em {
    padding: 0 12px;
    margin-left: 2px;
}
.ruo {
    background-color: #de1111;
}
.zhong {
    background-color: #40b83f;
}
.qiang {
    background-color: #f79100;
}
.agree {
    padding-left: 95px;
}
.agree a {
    color: #1ba1e6;
}
.agree input{
vertical-align: middle;
margin-top: -2px;
}
.btn {
    width: 200px;
    height: 34px;
    background-color: #c81623;
    color: #fff;
    margin: 30px 0 0px 89px;
}
.mod_copyright {
    text-align: center;
    padding-top: 20px;
}
.mod_copyright .links {
    margin-bottom: 15px;
}
.mod_copyright .links a {
    margin: 0 3px;
}
.copyright {
    line-height: 20px;
}